@{
    ViewBag.Title = "Home Page";
    var allQuotes = new Dictionary<string, string> { { "Helen Keller", "Alone we can do so little; together we can do so much."},
                                                   { "Michael Jordan", "Talent wins games, teamwork wins championships." },
                                                   { "Henry Ford", "Coming together, staying together, and working together is success."},
                                                   { "Amy Poehler", "Spend time with people who inspire you, it will change your life."},
                                                   { "Andrew Carnegie", "Teamwork is the ability to work together toward a common vision."} };
}

  

    <div class="jumbotron jumbotron-fluid container-fluid bg-dark">

        <h1 class="headingFonts">Club Hub</h1>
        <p class="headingFonts">
            Social Software's Club Hub is the go-to Free Social Software for organization of clubs.
            <!--@Html.ActionLink("Social Software's Mission", "About", "Home")-->
            @Html.ActionLink("Social Software's Mission", "About", "Home", null, new { @class = "btn btn-warning btn-large" })
        </p>



        <!--  Carousel of ratings -->
        <div id="clubQuotes" class="carousel slide text-center carouselQuotes" data-ride="carousel">

            <div class="carousel-inner innerStyle">

                <div class="item active">
                    <div class="item-caption">
                        <h4>Clubs bring out the best in us ... </h4>
                        <h5>Explore Your Options Today</h5>
                    </div>
                </div>



                @foreach (var entry in allQuotes)
                {
                    <div class="item">
                        <div class="item-caption">
                            <h4>@Html.DisplayFor(modelObj => entry.Value)</h4>
                            <h5>@Html.DisplayFor(modelObj => entry.Key)</h5>
                        </div>
                    </div>
                }
            </div>


            <!-- Left and right controls -->
            <a class="left carousel-control" href="#clubQuotes " data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#clubQuotes " data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <!--  *********************************************************************************** -->

    </div>


        <div class="row">
            <div class=" container col-md-6">

                <div class="card border-primary">
                    <h2 class="card-header cardHeader">Join A Club!</h2>
                    <div class="card-body">
                        Join one of our affilliated clubs. See what we have to offer, find out if our clubs capture your imagination.
                        <div class="card-footer cardFooter">
                            @if (User.Identity.IsAuthenticated)
                            {
                            <span class="text-primary">
                                @Html.ActionLink("Our Clubs", "Index", "Club", null, new { @class = "btn btn-warning btn-large" })
                            </span>
                            }
                            else
                            {
                        <span class="text-primary">
                            @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-warning btn-large" }) or
                            @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-warning btn-large" })
                        </span>
                            }
                        </div>
                    </div>
                </div>
            </div>
                    <div class="col-md-6">
                        <div class="card border-primary">
                            <h2 class="card-header cardHeader">Club Administrators</h2>
                            <div class="card-body">
                                Keep a central repository of your clubs. Know your sponsors, 
                                keep tabs on the club location and members. 

                                <div class="card-footer cardFooter">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <span class="text-primary">
                                            @Html.ActionLink("Our Clubs", "Index", "Club", null, new { @class = "btn btn-warning btn-large" })
                                        </span>
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Register or login to Browse Our Clubs", "Register", "Account", null, new { @class = "btn btn-warning btn-large" })
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
