@model IEnumerable<Clubber.Models.ClubListItem>

@{
    ViewBag.Title = "Our Clubs";
    var hasProfile = ViewBag.HasProfile;
}

<h2 class="headingFonts">Our Clubs. See anything you like?</h2>

<p>
    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
    else
    {
        if (!(hasProfile))
        {
        @Html.ActionLink("Create a profile to join clubs", "Create", "StudentProfile")
        }
    }
</p>
<table class="table listFonts">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClubId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SponsorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeetingDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeetingTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ClubId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SponsorName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MeetingDay)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MeetingTime)
    </td>
    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ClubId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ClubId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ClubId }) |
            @Html.ActionLink("Members", "ListMembers", new { id = item.ClubId })
        </td>
    }
    else if (ViewContext.HttpContext.User.IsInRole("Student"))
    {
        <td>
            @if (hasProfile)
            {
                
                @Html.ActionLink("Join", "Join", new { id = item.ClubId })
            }
        </td>
    }
    else if (ViewContext.HttpContext.User.IsInRole("Sponsor"))
    {
        @Html.ActionLink("Take Attendance", "Join", new { id = item.ClubId })
    }
</tr>
}

</table>
